@import "color";
@import "reset";
@import "parts";

.content {
	display: block;
	margin: 6px;

	&__search {
		position: relative;
	}
}

.input-list {
	display: flex;
	align-items: center;
	justify-content: center;
	
	&__term {
		font-weight: bold;
	}

	&__data {
		margin-left: 6px;
	}
}

.search-list {
	position: absolute;
	width: 96%;
	max-width: 300px;
	max-height: 400px;
	margin: 0 auto;
	top: 100%;
	left: 0;
	right: 0;
	transition: linear 200ms transform, linear 200ms opacity;
	transform: translateY(0) scale(1, 1);
	opacity: 1;
	overflow: scroll;

	&--hide {
		transform: translateY(-50%) scale(1, 0);
		opacity: 0;
	}

	&__item {
		position: relative;
		display: flex;
		align-items: center;
		padding: 6px;
		box-sizing: border-box;
		background-color: #e4e4e4;

		& + &{
			border-top: 1px rgba(123, 123, 123, 0.4) solid;
		}

		&--history {
			background-color: #a2ebf3;
		}

		&--selected {
			background-color: #9dce8c;
		}

		&-img {
			flex: 0 0 40px;
			width: 40px;
			height: 40px;
		}

		&-name {
			flex: 1 1 auto;
			margin-left: 6px;
		}

		&-button {
			width: 20px;
			height: 20px;
			padding: 6px;
			line-height: 18px;
			font-size: 24px;
			text-align: center;
		}

		&-remove {
			position: absolute;
			height: 100%;
			width: 100px;
			top: 0;
			right: 0;
			padding: 6px;
			line-height: 1.2em;
			color: #ececec;
			text-align: center;
			box-sizing: border-box;
			background-color: #dc704e;
			transition: 200ms linear transform;
			transform: translate(0, 0) scale(1, 1);

			&--hide {
				transform: translate(50%, 0) scale(0, 1);
			}
		}
	}
}